<!DOCTYPE html>
<html>
  <head>
    <title>Choco Message</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="tachyons.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body class="sans-serif">
    <main id="app" class="ph2" :style="{ background : bgColour }">
      <div class="cake" :style="imgStyle">
        <img class="hidden" :src="cakeUrl" />
      </div>

      <div class="form">
        <textarea
		  :class="['icing', 'font' + font]"
		  :style="{ 'color': icingColour }"
          v-model="combinedMessage"
        ></textarea>

        <div class="form-control">
          <label>Recipient</label>
		  <input v-model="recipient" placeholder="Recipient" />
		  <icing-colour></icing-colour>
        </div>
        <div class="form-control">
          <label>Message</label>
		  <input v-model="message" placeholder="Message" />
		  <icing-colour></icing-colour>
        </div>
        <div class="form-control">
          <label>Sender</label>
		  <input v-model="sender" placeholder="Sender" />
		  <icing-colour></icing-colour>
        </div>
      </div>
      <pre>{{bodyStyle}}</pre>
      <pre>{{imgStyle}}</pre>
    </main>
    <script src="vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
